* {
    font-family: Verdana;
    margin: 0px auto;
    padding: 0px;
}


/*contenedores*/
main {
    border:2px solid black;
    width: 90%;
    padding: 0px;
}
nav {
    color: aliceblue;
    display: flex;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}
article {
    display: flex;
    justify-content: space-around; 
}
section {
    margin: 5px;
    flex:1;
}
.col {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
}
.detail {
    height: 400px;
    width: 100%;
}
.detail-left {
    display: flex;
    flex-direction: column;
    /* border:2px solid rgb(255, 47, 47); */
}
.detail-right {
    display: flex;
    flex-direction: column;
    /* border:2px solid rgb(47, 50, 255); */
}
.detail-content-1 {
    border:2px solid rebeccapurple;
    padding: 5px;
    display: flex;
}
.detail-content-2{
    border:2px solid rebeccapurple;
    padding: 5px;
    display: flex;
}
.detail-content-3{
    border:2px solid rebeccapurple;
    padding: 30px;
    text-align: center;
}

.detail-content{
    flex-direction: column;
    align-items: baseline;
    flex:2;
}
footer {
   background-color: darkgrey; 
   width: 100%;
   margin: 0px;
}

u {
    color: cornflowerblue;
}

/*botones*/
.btn-nav {
    color: antiquewhite;
    background-color: dodgerblue;
    box-shadow: 2px 2px 2px 1px rgba(188, 188, 221, 0.767);
    vertical-align: middle;
    cursor: pointer;
    width: 100px;
    height: 30px;
} 

.btn-burlywood {
    color: black;
    background-color: burlywood;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.767);
    vertical-align: middle;
    cursor: pointer;
    width: 100px;
    height: 30px;
}


.btn-green {
    color: antiquewhite;
    background-color: green;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.767);
    vertical-align: middle;
    cursor: pointer;
    width: 150px;
    height: 30px;
}



/* Barra de Menu
.navbar {
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
}   

.nav-links {
    display: flex;
}

li {
    list-style: none;
    margin: 20px;
}

a {
    text-decoration: none;
    color: aliceblue;
}

a:hover  {
    color: cyan ;
} */

